@model FoodServicer.ViewModel.CustomerTableViewModel

<tr>
    <td>@Model.Id</td>
    <td>@Model.FirstName</td>
    <td>@Model.MiddleName</td>
    <td>@Model.LastName</td>
    <td>@Model.PrimaryAddress</td>
    <td>@Model.PrimaryPhoneNumber</td>
    <td>@Model.PrimaryEmailAddress</td>
</tr>
