@model FoodServicer.ViewModel.CustomerTableViewModel

<tr>
    <td>@Model.Id</td>
    <td>@Model.FirstName</td>
    <td>@Model.MiddleName</td>
    <td>@Model.LastName</td>
    <td>@Model.Suffix</td>
    <td>@Model.FullName</td>
    <td>@Model.PrimaryAddress</td>
    <td>@Model.PrimaryPhoneNumber</td>
    <td>@Model.PrimaryEmailAddress</td>
    <td>
        <div class="button-group">
            <button class="edit-button" title="Edit this customer"><i class="fas fa-edit"></i></button>
            <button class="view-button" title="View this customer"><i class="fas fa-folder-open"></i></button>
        </div>
    </td>
</tr>
