@model FoodServicer.ViewModel.CustomerSearchViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Search Customers</h1>
    </div>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
                <div class="col-lg-6">
                    @using (Html.BeginForm("Search", "Customer", null, FormMethod.Post, true, new { id = "customer-search-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(x => x.FirstName)
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.FirstName)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.LastName)
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.LastName)
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(x => x.EmailAddress)
                            @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.EmailAddress)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.PhoneNumber)
                            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.PhoneNumber)
                        </div>*@

                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="submit" class="btn btn-link">Clear</button>
                    }
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <table id="search-results" class="display" style="width:100%;">
                        @if (Model.HasCustomers)
                        {
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Primary Address</th>
                                    <th>Primary Phone Number</th>
                                    <th>Primary Email Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.DisplayFor(x => x.Customers)
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Primary Address</th>
                                    <th>Primary Phone Number</th>
                                    <th>Primary Email Address</th>
                                </tr>
                            </tfoot>
                        }
                        else
                        {
                            <tr>
                                <td>No results to display.</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.4/b-flash-1.5.4/b-print-1.5.4/r-2.2.2/datatables.min.css" />
}

@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/b-1.5.4/b-flash-1.5.4/b-print-1.5.4/r-2.2.2/datatables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-results').DataTable();
        });
    </script>
}
